<section class="costomers-features">
  <div class="container">
    <h2 class="features-title">Why Choose Product?</h2>
    <ul class="costomers-feature-list">
      <li class="costomers-feature-item">
        <div class="icon-svg cursor icon-shadow">
          <svg class="icon-3" width="12" height="18">
            <use href="./images/fill_none_icons.svg#icon-cursor"></use>
          </svg>
        </div>
        <h3 class="features-item-title">Special Business</h3>
        <p class="features-item-description">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="costomers-feature-item">
        <div class="icon-svg vive-line icon-shadow">
          <svg class="icon-3" width="18" height="18">
            <use href="./images/fill_none_icons.svg#icon-vive_line"></use>
          </svg>
        </div>
        <h3 class="features-item-title">Instant Result</h3>
        <p class="features-item-description">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="costomers-feature-item">
        <div class="icon-svg hardd icon-shadow">
          <svg class="icon-3" width="16" height="18">
            <use href="./images/fill_none_icons.svg#icon-hard"></use>
          </svg>
        </div>
        <h3 class="features-item-title">Fastest way to organize</h3>
        <p class="features-item-description">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
