<section class="group">
  <div class="container group-container">
    <h2 class="features-title">How Product Work?</h2>
    <ol class="group-list">
      <li class="group-list-item">
        <div class="group-syep-box">
          <picture class="mac-page">
            <source
              media="(min-width: 1150px)"
              srcset="./images/mac/mac1.jpg 1x, ./images/mac/mac1@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/mac/mac1.jpg 1x, ./images/mac/mac1@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                     ./images/mac/@ Macbook Pro1.jpg   1x,
                     ./images/mac/@ Macbook Pro1@2x.jpg 2x
                    "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./images/mac/mac1.jpg"
              alt="Macbook Pro"
              width="500"
              loading="lazy"
            />
          </picture>
          <div class="ctep-contant">
            <span class="step">STEP 1</span>
            <h3 class="step-title">Apply for a product</h3>
            <p class="step-text">
              Completing our easy step-by-step application form gives you access
              to multiple business with multiple products. We analyse your
              business through our proprietary credit analysis technology
            </p>
          </div>
        </div>
      </li>

      <li class="group-list-item">
        <div class="group-syep-box reverse">
          <div class="ctep-contant">
            <span class="step">STEP 2</span>
            <h3 class="step-title">Pay fully refundable</h3>
            <p class="step-text">
              Product will contactting you instantly to receive payment of the
              Application Fee. if no offer of product is available, your fee
              will be fully refunded.
            </p>
          </div>
          <picture class="mac-page">
            <source
              media="(min-width: 1150px)"
              srcset="./images/mac/mac2.jpg 1x, ./images/mac/mac2@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/mac/mac2.jpg 1x, ./images/mac/mac2@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                     ./images/mac/@ Macbook Pro2.jpg   1x,
                     ./images/mac/@ Macbook Pro2@2x.jpg 2x
                    "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./images/mac/mac2.jpg"
              alt="Macbook Pro"
              width="500"
              loading="lazy"
            />
          </picture>
        </div>
      </li>

      <li class="group-list-item">
        <div class="group-syep-box">
          <picture class="mac-page">
            <source
              media="(min-width: 1150px)"
              srcset="./images/mac/mac3.jpg 1x, ./images/mac/mac3@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/mac/mac3.jpg 1x, ./images/mac/mac3@2x.jpg 2x"
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                     ./images/mac/@ Macbook Pro3.jpg   1x,
                     ./images/mac/@ Macbook Pro3@2x.jpg 2x
                    "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="./images/mac/mac3.jpg"
              alt="Macbook Pro"
              width="500"
              loading="lazy"
            />
          </picture>
          <div class="ctep-contant">
            <span class="step">STEP 3</span>
            <h3 class="step-title">Completion</h3>
            <p class="step-text">
              Product will continue to liase between borrower and manager to
              procees and complete a quick and efficient settlement
            </p>
          </div>
        </div>
      </li>
    </ol>
    <button type="button" class="contact-our-expert">
      Get in touch with us
    </button>
  </div>
</section>
