<section class="ourclients">
  <div class="container ourclients-content">
    <h1 class="hero-title">Our Clients</h1>
    <div class="ourclients-logos">
      <a href="https://www.airbnb.com/" target="_blank">
        <svg class="airbnb compani-icon" width="159" height="50">
          <use href="images/color_icons.svg#icon-airbnb"></use></svg></a
      ><a href="https://www.google.com/" target="_blank">
        <svg class="google compani-icon" width="146" height="50">
          <use href="images/color_icons.svg#icon-google"></use></svg
      ></a>
      <a href="https://www.microsoft.com/" target="_blank">
        <svg class="microsoft compani-icon" width="213" height="44">
          <use href="images/color_icons.svg#icon-microsoft"></use></svg
      ></a>
      <a href="https://www.fedex.com/" target="_blank">
        <svg class="fedEx compani-icon" width="140" height="42">
          <use href="images/color_icons.svg#icon-fedEx"></use></svg
      ></a>
    </div>
  </div>
</section>
