<section class="collaborative">
  <div class="container collaborative-container">
    <div class="content-box">
      <h2 class="section-title">
        <span class="sp-subtitle">Optimisation for</span><br />Collaborative
      </h2>
      <p class="description left">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <div class="accesory-content">
        <h3 class="subtitle">Accessory makers</h3>
        <p class="description left">
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun
        </p>
      </div>
      <div class="alterationists">
        <h3 class="subtitle">Alterationists</h3>
        <p class="description left">
          If you are looking for a new way to promote your business that won’t
          cost you more money,
        </p>
      </div>
    </div>
    <picture class="index-section-page">
      <source
        media="(min-width: 1150px)"
        srcset="
          images/section/collaboration-img.png      1x,
          ./images/section/collaboration-img@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/section/collaboration-img.png      1x,
          ./images/section/collaboration-img@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/section/section_mob/collaboration-img.png    1x,
          ./images/section/section_mob/collaboration-img@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        class="card-img"
        src="./images/section/collaboration-img.png"
        alt="Banking App"
        width="540"
        loading="lazy"
      />
    </picture>
  </div>
</section>
