<section class="feedback">
  <div class="container feedback-container">
    <h2 class="section-title">What Clients Say</h2>
    <p class="feedbackk description">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <div class="opoiniens-container">
      <ul class="opinien-list">
        <li class="opinien-item">
          <ul class="stars-box">
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star-empty"></use>
              </svg>
            </li>
          </ul>
          <p class="opinien-text">
            Product helps you see how many more days you need to work to reach
            your financial goal.
          </p>
          <div class="user">
            <img
              srcset="
                ./images/ellipse/Ellipse1.jpg    1x,
                ./images/ellipse/Ellipse1@2x.jpg 2x
              "
              src="./images/ellipse/Ellipse1.jpg"
              alt="pickture with Designer"
              width="50"
              height="50"
              class="user-img"
            />
            <div>
              <h4 class="user-name">Wahid Ari</h4>
              <p class="user-subname">Designer</p>
            </div>
          </div>
        </li>
        <li class="opinien-item">
          <ul class="stars-box">
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star-empty"></use>
              </svg>
            </li>
          </ul>
          <p class="opinien-text">
            Product helps you see how many more days you need to work to reach
            your financial goal.
          </p>
          <div class="user">
            <img
              srcset="
                ./images/ellipse/Ellipse2.jpg    1x,
                ./images/ellipse/Ellipse2@2x.jpg 2x
              "
              src="./images/ellipse/Ellipse2.jpg"
              alt="pickture with Designer"
              width="50"
              height="50"
              class="user-img"
            />
            <div>
              <h4 class="user-name">Wahid Ari</h4>
              <p class="user-subname">Designer</p>
            </div>
          </div>
        </li>
        <li class="opinien-item">
          <ul class="stars-box">
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star_full"></use>
              </svg>
            </li>
            <li>
              <svg class="full-star" width="18" height="18">
                <use href="./images/fill_none_icons.svg#icon-star-empty"></use>
              </svg>
            </li>
          </ul>
          <p class="opinien-text">
            Product helps you see how many more days you need to work to reach
            your financial goal.
          </p>
          <div class="user">
            <img
              srcset="
                ./images/ellipse/Ellipse3.jpg    1x,
                ./images/ellipse/Ellipse3@2x.jpg 2x
              "
              src="./images/ellipse/Ellipse3.jpg"
              alt="pickture with Designer"
              width="50"
              height="50"
              class="user-img"
            />
            <div>
              <h4 class="user-name">Wahid Ari</h4>
              <p class="user-subname">Designer</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
