<section class="management">
  <div class="container management-container">
    <div class="conten-box">
      <h2 class="section-title">
        <span class="sp-subtitle">Effortless Validation for</span>
        <br />Management
      </h2>
      <p class="description left">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <div class="accesory-content">
        <h3 class="subtitle">Accessory makers</h3>
        <p class="description left">
          While most people enjoy casino gambling, sports betting, lottery and
          bingo playing for the fun
        </p>
      </div>
      <div class="alterationists">
        <h3 class="subtitle">Alterationists</h3>
        <p class="description left">
          If you are looking for a new way to promote your business that won’t
          cost you more money,
        </p>
      </div>
    </div>
    <picture class="index-section-page">
      <source
        media="(min-width: 1150px)"
        srcset="
          images/section/management-img.png      1x,
          ./images/section/management-img@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/section/management-img.png      1x,
          ./images/section/management-img@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/section/section_mob/management-img.png    1x,
          ./images/section/section_mob/management-img@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        class="card-img"
        src="./images/section/management-img.png"
        alt="Banking App"
        width="540"
        loading="lazy"
      />
    </picture>
  </div>
</section>
