<section class="support">
  <div class="container support-container">
    <picture class="index-section-page">
      <source
        media="(min-width: 1150px)"
        srcset="
          images/section/support-img.png      1x,
          ./images/section/support-img@2x.png 2x
        "
        type="image/jpg" />
      <source
        media="(min-width: 768px)"
        srcset="
          images/section/support-img.png      1x,
          ./images/section/support-img@2x.png 2x
        "
        type="image/jpg" />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/section/section_mob/support-img.png    1x,
          ./images/section/section_mob/support-img@2x.png 2x
        "
        type="image/jpg" />
      <img
        class="card-img"
        src="./images/section/support-img.png"
        alt="Banking App"
        width="540"
        loading="lazy"
    /></picture>
    <div class="content-box">
      <h2 class="section-title">
        <span class="sp-subtitle">Easier decision making for</span
        ><br />Customer Support
      </h2>
      <p class="description left">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <div class="support-list-icon icon-orande">
            <svg class="okk" width="16" height="12">
              <use href="images/fill_none_icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p class="description left">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <div class="support-list-icon icon-red">
            <svg class="okk" width="16" height="12">
              <use href="images/fill_none_icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p class="description left">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <div class="support-list-icon icon-blue">
            <svg class="okk" width="16" height="12">
              <use href="images/fill_none_icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p class="description left">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
