<!-- footer -->
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="./index.html" class="flogo"
          ><span class="span-logo"
            ><svg class="logo-svg" width="40" height="36">
              <use href="images/color_icons.svg#icon-logo"></use></svg></span
          >Product</a
        >
        <div class="social-container">
          <a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use
                href="./images/fill_none_icons.svg#icon-instagram"
              ></use></svg></a
          ><a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use href="./images/fill_none_icons.svg#icon-fb"></use>
            </svg> </a
          ><a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use href="./images/fill_none_icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-section">
          <div class="footer-title"><p>Resource</p></div>

          <a href="">About Us</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
          <a href="">FAQ</a>
        </div>

        <div class="footer-section">
          <div class="footer-title"><p>Legal Stuff</p></div>

          <a href="">Disclaimer</a>
          <a href="">Financing</a>
          <a href="">Privacy Policy</a>
        </div>
      </div>
      <div class="footer-form">
        <p class="footer-form-title">
          knowing you're always on the best energy deal.
        </p>
        <form>
          <div class="footer-input-wrapper">
            <span class="input-icon"
              ><svg class="phone-icon" width="24" height="24">
                <use
                  href="./images/fill_none_icons.svg#icon-mobile-screen"
                ></use></svg
            ></span>
            <input id="tel" placeholder="Enter your phone number" type="tel" />
          </div>
          <button type="button" class="form-btn" data-sing_up-open>
            Sign up Now
          </button>
        </form>
      </div>
    </div>
    <div>
      <p class="bottom-text">Made With Love By Figmaland All Right Reserved</p>
    </div>
  </div>
</footer>
<!-- footer -->
