<!-- header -->
<header class="header">
  <div class="container header-container">
    <div class="logo-box">
      <a href="./index.html" class="logo"
        ><span class="span-logo"
          ><svg class="logo-svg" width="40" height="36">
            <use href="images/color_icons.svg#icon-logo"></use></svg></span
        >Product</a
      >
    </div>

    <div class="navigation">
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="./index.html">Product</a></li>
          <li class="navbar-item">
            <a href="./pricing.html">Pricing</a>
          </li>
          <li class="navbar-item">
            <a href="./customers.html">Customers</a>
          </li>
          <li class="navbar-item"><a href="#">Resources</a></li>
        </ul>
      </nav>

      <ul class="sign">
        <li>
          <button type="button" class="sign-in" data-sing_in-open>
            Sign In
          </button>
        </li>
        <li>
          <button type="button" class="sign-up" data-sing_up-open>
            Sign Uo
          </button>
        </li>
      </ul>
    </div>
    <div class="burger-box">
      <button class="btn-burger" type="button" data-menu-open>
        <svg class="burger" width="24" height="24">
          <use href="./images/fill_none_icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!-- header -->
