<section class="hero">
  <div class="container">
    <div class="hero-text-wrap">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-list">
        <li>
          <button class="hero-btn-start" type="button">Get started</button>
        </li>
        <li>
          <button class="hero-btn-watch" type="button">
            <svg width="16" height="18" class="hero-btn-icon">
              <use href="./images/icons.svg#icon-arow"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <img src="./images/hero-img-min.png" alt="people" width="610" />
  </div>
</section>
