<section class="management">
  <div class="container">
    <div class="managment-text-wrap">
      <h2 class="management-title">
        <span class="management-title-part">Effortless Validatio</span>
        Management
      </h2>
      <p class="management-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li>
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-desc">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-desc">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img src="./images/management-img.png" alt="document" width="540" />
  </div>
</section>
