<div class="mobile-nav" data-menu>
  <div class="container mobile-container">
    <button type="button" class="nav-btn" data-menu-close>
      <svg width="9" height="9" class="close">
        <use href="./images/fill_none_icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="logo-box">
      <a href="./index.html" class="logo mobile-logo"
        ><span class="span-logo"
          ><svg class="logo-svg" width="40" height="36">
            <use href="images/color_icons.svg#icon-logo"></use></svg></span
        >Product</a
      >
    </div>
    <div class="mob-navi">
      <nav>
        <ul class="mobile-nav-list">
          <li>
            <a href="./index.html" class="mobile-nav-list-item current"
              >Product</a
            >
          </li>
          <li>
            <a class="mobile-nav-list-item" href="./Pricing.html">Pricing</a>
          </li>
          <li>
            <a class="mobile-nav-list-item" href="./Customers.html"
              >Customers</a
            >
          </li>
          <li>
            <a class="mobile-nav-list-item" href="#">Resources</a>
          </li>
        </ul>
      </nav>
      <div class="soc-contact">
        <ul class="signmob">
          <li>
            <button type="button" class="sign-in" data-sing_in-open>
              Sign In
            </button>
          </li>
          <li>
            <button type="button" class="sign-up" data-sing_up-open>
              Sign Uo
            </button>
          </li>
        </ul>
        <div class="social-container mobile-social">
          <a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use
                href="./images/fill_none_icons.svg#icon-instagram"
              ></use></svg></a
          ><a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use href="./images/fill_none_icons.svg#icon-fb"></use>
            </svg> </a
          ><a href=""
            ><svg class="soc-icon" width="24" height="24">
              <use href="./images/fill_none_icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
