<section class="faq">
  <div class="container faq-container">
    <h2 class="faq-title">Frequently asked question</h2>
    <p class="faq-description">
      Something is not clear? You need help? Check our FAQ section
    </p>
    <div class="containet-faq">
      <details>
        <summary>What are my payment option?</summary>
      </details>
      <details>
        <summary class="sumopen">
          How can I invite collaborator to platform?
        </summary>
        After creating your account you will have an oppurtunity to create your
        first project that will be associated withthe collaborators e-mail. An
        invitation will be sent automatically. Then, invited user will have to
        confirm his account by e-mail and finish userd onboarding.
      </details>
      <details>
        <summary>Can I upgrade my plan?</summary>
      </details>
      <details>
        <summary>Can I cancel my plan at anytime?</summary>
      </details>
    </div>
  </div>
</section>
