<section class="pricing pric">
  <div class="container pricing-container">
    <h1 class="pricing-title">PRICING</h1>
    <h2 class="psection-title">Let’s get some real work done here.</h2>
    <p class="ppricing description">
      Prodict is your perfect solution for working. Get started now for free
    </p>
    <ul class="offer-price">
      <li class="price-card">
        <div class="pricing-holder">
          <h3 class="card-title">Free</h3>
          <p class="free-description">Brief price description</p>
          <div class="value">
            <span class="price-value">0</span>
            <div class="valuesp">
              <span class="currency">$</span>
              <p class="period">Per / month</p>
            </div>
          </div>
          <div>
            <p class="definitions">Only 2 Operators</p>
            <p class="definitions">Notifications</p>
            <p class="definitions">Landing Pages</p>
          </div>

          <button type="button" class="order-now">Order Now</button>
        </div>
      </li>
      <li class="price-card">
        <div class="pricing-holder">
          <h3 class="card-title">Standard</h3>
          <p class="free-description">Brief price description</p>
          <div class="value">
            <span class="price-value">5</span>
            <div class="valuesp">
              <span class="currency">$</span>
              <p class="period">Per / month</p>
            </div>
          </div>
          <div>
            <p class="definitions">5+ Operators</p>
            <p class="definitions">Notifications</p>
            <p class="definitions">Landing Pages</p>
          </div>

          <button type="button" class="order-now">Order Now</button>
        </div>
      </li>
      <li class="price-card">
        <div class="pricing-holder">
          <h3 class="card-title">Premium</h3>
          <p class="free-description">Brief price description</p>
          <div class="value">
            <span class="price-value">10</span>
            <div class="valuesp">
              <span class="currency">$</span>
              <p class="period">Per / month</p>
            </div>
          </div>
          <div>
            <p class="definitions">10+ Operators</p>
            <p class="definitions">Notifications</p>
            <p class="definitions">Landing Pages</p>
          </div>

          <button type="button" class="order-now">Order Now</button>
        </div>
      </li>
    </ul>
  </div>
</section>
