<section class="success-sec">
  <div class="container container-success">
    <h2 class="success-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="success-container">
      <picture class="amica-page">
        <source
          media="(min-width: 1150px)"
          srcset="images/section/amico.png 1x, ./images/section/amico@2x.png 2x"
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/section/amico.png 1x, ./images/section/amico@2x.png 2x"
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/section/section_mob/amico.png    1x,
            ./images/section/section_mob/amico@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="card-img"
          src="./images/section/amico.png"
          alt="Banking App"
          width="528"
          loading="lazy"
        />
      </picture>
      <div class="container-content">
        <ul class="name-product">
          <li>
            <div class="title-box">
              <div class="succes-icon">
                <svg class="success-svg" width="24" height="24">
                  <use href="./images/color_icons.svg#icon-enterpreneur"></use>
                </svg>
              </div>
              <h3 class="box-title">Enterpreneur</h3>
            </div>
            <p class="box-text">
              Product is a great way to help medium and samall enterprise owners
              achieve their goals
            </p>
          </li>
          <li>
            <div class="title-box">
              <div class="succes-icon">
                <svg class="success-svg" width="24" height="24">
                  <use href="./images/color_icons.svg#icon-accountant"></use>
                </svg>
              </div>
              <h3 class="box-title">Accountants</h3>
            </div>
            <p class="box-text">
              Whether you are working on contract with clients, or on other key
              accounting documents, Product is for you
            </p>
          </li>
          <li>
            <div class="title-box">
              <div class="succes-icon">
                <svg class="success-svg" width="24" height="24">
                  <use href="./images/color_icons.svg#icon-universities"></use>
                </svg>
              </div>
              <h3 class="box-title">Universities</h3>
            </div>
            <p class="box-text">
              Organize university projects and have documents easily graded
              online with Product
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
